* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url("gasparovic_obrazky/simple-hd-wallpapers.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#container {
    width: 1500px;
    height: 800px;
    border: solid black;
    border-radius: 20px;
    margin: 20px auto;
    padding: 10px;
    /*justify-self: center;*/
    /*grid-template-columns: 40% 40%;*/
}

#pieceContainer {
    position: relative;
    display: block;
    width: 800px;
    height: 800px;
    border: 1px solid black;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 400px;
}

#puzzleContainer {
    /*position: absolute;*/
    /*justify-self: center;*/
    /*width: 800px;*/
    /*height: 800px;*/
    /*border: 1px solid black;*/
    /*right: auto;*/
}

ul {
    list-style-type: none;
    text-align: center;
}

ul button {
    width: 100px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

#btnReset {
    display: none;
}

.piece {
    position: absolute;
}

.piece_1 {
    top: 50px;
    left: 700px;
}

.piece_2 {
    top: 50px;
    left: 750px;
}

.piece_3 {
    top: 50px;
    left: 800px;
}

.piece_4 {
    top: 200px;
    left: 180px;
}

.piece_5 {
    top: 200px;
    left: 300px;
}

.piece_6 {
    top: 220px;
    left: 380px;
}

.piece_7 {
    top: 350px;
    left: 0px;
}

.piece_8 {
    top: 350px;
    left: 50px;
}

.piece_9 {
    top: 350px;
    left: 100px;
}

.piece_10 {
    top: 50px;
    left: 950px;
}

#outline {
    top: 150px;
    left: 150px;
}


